* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

h2 {
    color: #FF6086;
    margin-top: 2%;
    margin-left: 5%;
    font-size: 2rem;
    font-variant: small-caps;
}

h3 {
    color: #FF6086;
    margin: 3%;
    font-variant: small-caps;
}

.sobremi {
    background-color: #FFEBF0;
    width: 95%;
    height: 20%;
    border-style: outset;
    border-color: #FF6086;
    border-width: 1px;
    padding: 2%;
    margin-left: 2%;
    margin-top: 30px;
}


section ul li {
    list-style-type: none;
    text-align: left;
}


.card__quever {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-quever {
    background-color: #fceff2;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    line-height: 1.5;
    margin: 20px;
    border-style: inset;
    border-width: thin;
    border-color: black;
    width: 270px;
}

.card-quever img {
    width: 100%;
    height: 10rem;
}

footer {
    text-align: right;
}

.logo {
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.logo img {
    width: 70%;
}

.buscar {
    display: flex;
    justify-content: right;
}

.inicio {
    background-color: #fceff2;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    line-height: 2;
    border-style: inset;
    border-width: thin;
    border-color: black;
    width: 19rem;
    margin: 3%;
}

.inicio:hover {
    transform: scale(1.1, 1.1);
}

.inicio img {
    width: 100%;
    height: 16rem
}

.random {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3%;
}

.tituloscards {
    color: #FF6086;
    font-weight: bold;
}

section article p {
    color: #FF6086;
    font-weight: bold;
}

#inicionav {
    font-weight: bold;
}

#sobreminav {
    font-weight: bold;
}

#quevernav {
    font-weight: bold;
}

#guiasnav {
    font-weight: bold;
}

#contactonav {
    font-weight: bold;
}

.contacto {
    display: flex;
    justify-content: right;
    margin-right: 5%;
}

div textarea {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: #fce0e6;
    background: #FFFDFD;
    border-radius: 4px;

}

article div input {
    width: 242px;
    height: 34px;
    background: #66D2D9;
    margin-bottom: 5%;
    margin-right: 3rem;
    border-style: none;
}

ol li {
    display: list-item;
    list-style-position: inside;
    text-align: center;
    padding: 1em;
}

footer {
    text-align: center;
    margin-top: 10%
}

fieldset {
    border-style: none;

}

.botoncito {
    width: 242px;
    height: 3.5em;
}

p {
    margin-left: 2rem;
    margin-right: 3rem;
    padding: 1%;
    line-height: 1.5
}

.madrid {
    display: flex;
    justify-content: center;
    margin: 3%;
}

.madrid img {
    width: 45%;
}

.redes {
    display: flex;
    margin: 1%;
    margin-left: 3%;
}

.redes img {
    width: 30px
}

.banner {
    width: 100%;
    height: 300;
}

.gridguiadeviaje {
    display: grid;
    grid-template-areas: "guiasdeviaje . ."
        "america europa asia africa";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
}

.guiasdeviaje {
    grid-area: guiasdeviaje;
}

.america {
    grid-area: america;
}

.europa {
    grid-area: europa;
}

.asia {
    grid-area: asia;
}

.africa {
    grid-area: africa;
}

.guiadeviaje {
    padding-top: 0;
    margin: 60px;
    width: 267px;
    line-height: 2.5;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    background-color: #fdf9fa;
}

button {
    background-color: #66D2D9;
    border-style: none;
}

button:hover {
    background-color: #FF6086;
    transition: 0.1s;
    border-color: #b62446;
    border-style: solid;
}

.guiadeviaje-boot {
    display: flex;

}

.alert {
    margin-bottom: 0.5px;
}

ul li a{
    text-decoration: none;
    color:  #66D2D9;
}
nav ul li a {


    color: #FF6086;
    text-decoration: none;

}

nav {
    display: flex;
    justify-content: center;
    padding: 15px 5%;
    align-items: center;
}

.logo {
    color: #FFF;
    font-size: 22px;
}

ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    font-size: 1.5rem;

}

dl, ol, ul{
        margin-bottom: 0%;
}
nav ul li a {
    text-decoration: none;
    color: #FF6086;
    padding: 8px 30px;
    border-radius: 7px;
    transition: all .3s ease;

}

ul li a:hover {
    color: #fa92ab
}



#icon svg {
    color: #FF6086;
    height: 28px;
    transition: all .3s ease;
}

#icon:hover {
    background: #FFF;
}

#icon:hover svg {
    color: #66D2D9
}

#checkbox,
#icon {
    display: none;
}

@media screen and (max-width: 768px) {
    nav {
        justify-content: flex-start
    }

    nav ul {
        position: static;
        width: 70%;
        background-color: #fce0e7;
        left: 0;
        top: 0;
        text-align: center;
        display: none;
        margin-top: 71px;
    }

    nav ul li {
        display: block;
        padding: 10px 15px;
    }

    nav ul li a {
        display: block;
        padding: 10px 0;
    }

    #icon {
        display: block;
    }

    #checkbox:checked~ul {
        display: block;
    }
}


@media screen and (max-width: 1024px) {
    .gridguiadeviaje {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto, 1fr, 1fr;
    }
}

@media screen and (max-width: 420px) {
    .gridguiadeviaje {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}