
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family_1;
}

h2 {
	color: $color_1;
	margin-top: 2%;
	margin-left: 5%;
	font-size: 2rem;
	font-variant: small-caps;
}
h3 {
	color: $color_1;
	margin: 3%;
	font-variant: small-caps;
}