.logo {
	display: flex;
	justify-content: center;
	margin-left: 20px;
	color: $color_3;
	font-size: 22px;
	img {
		width: 70%;
	}
}

.banner {
	width: 100%;
	height: 300;
}


.madrid {
	display: flex;
	justify-content: center;
	margin: 3%;
}

.contenedor_redes{
	display: flex;
    flex-direction: column;
	margin-top: 5%;
	justify-content: center;
}

.seguinosenredes{
	display: flex;
}

.redes {
	display: flex;
	align-items: center;
	margin: 1%;
	margin-left: 3%;
    a {
        text-decoration: none;
        }
	img {
		width: 2rem;
	}
}

.flecha_subir{
	display: flex;
	position: fixed;
	bottom: 10px;
	margin-left: 5px;
	margin-bottom: 10px;
	height: 2.5rem;
}

.imagen_sobremi{
    display: flex;
    justify-content: center;
    img{
        width: 25rem;
    }
}