$color_1: #FF6086;
$color_2: #66D2D9;
$color_3: #FFF;
$color_4: #fa92ab;
$font-family_1: 'Roboto', sans-serif;
$background-color_1: #FFEBF0;
$background-color_2: #fceff2;
$background-color_3: #fdf9fa;
$background-color_4: #66D2D9;
$background-color_5: #FF6086;
$background-color_6: #fce0e7;
$border-color_1: #FF6086;
$border-color_2: black;
$border-color_3: #fce0e6;
$border-color_4: #b62446;


#inicionav {
	font-weight: bold;
}
#sobreminav {
	font-weight: bold;
}
#quevernav {
	font-weight: bold;
}
#guiasnav {
	font-weight: bold;
}
#contactonav {
	font-weight: bold;
}